<style>
	.wrap{
		width:1000px;
		margin:0px auto;
		}
	header{
			width:1000px;
			height:100px;
			background-color:;
			}
		.headerwrap{
			width:1000px;
			height:100px;
			}
		.call_center{
			position:relative;
			float:left;
			width:65px;
			height:100px;
			top:23px;
			font-weight:bold;
			background-color:;
		}
		.logo_img{
			text-align:center;
			position:relative;
			float:left;
			left:260px;
			width:300px;
			height:100px;
		}
		.yellowid{
			position:relative;
			left:355px;
			top:50px;
		}
	nav{
			width:1000px;
			height:40px;
			background-image:url("nav.jpg");
			vertical-align:middle;
			}
		.car1{
			position:relative;
			float:left;
			left:10px;
			top:8px;
			color:#d7d700;
			font-size:14px;
			font-weight:bold;
		}
		.car2{
			position:relative;
			float:left;
			left:50px;
			top:8px;
			color:#ffffff;
			font-size:14px;
			font-weight:bold;
		}
		.car3{
			position:relative;
			left:105px;
			top:8px;
			color:#c6c6c6;
			font-size:14px;
			font-weight:bold;
		}
	section{
			width:1000px;
			height:
			background-color:;
			}
		.jointop{
			position:relative;
			top:10px;
			width:1000px;
			height:20px;
			font-weight:bold;
		}
		.joinmiddle{
			position:relative;
			top:20px;
			width:1000px;
			height:20px;
			text-align:center;
			font-size:13px;
			color:#ea003a;
		}
		.join1{
			position:relative;
			top:37px;
			width:1000px;
			height:200px;
			text-align:center;
			background-color:;
			font-size:12px;
		}
		.agree1{
			position:relative;
			top:10px;
			width:1000px;
			height:200px;
			text-align:center;
			background-color:#dddddd;
		}
		.join2{
			position:relative;
			top:37px;
			width:1000px;
			height:200px;
			text-align:center;
			background-color:;
			font-size:12px;
		}
		.agree2{
			position:relative;
			top:15px;
			width:1000px;
			height:200px;
			text-align:center;
			background-color:#dddddd;
			}
		.button{
		border-radius:3px;
		background-color:#54a800;
		border:1px solid #54a800;
		color:#ffffff;
		width:120px;
		height:40px;
		font-weight:bold;
		cursor:pointer;
		}
		.button2{
		border-radius:3px;
		background-color:#ffffff;
		border:1px solid #54a800;
		color:#ffffff;
		width:120px;
		height:40px;
		font-weight:bold;
		cursor:pointer;
		color:#54a800;
		}

		.a{
		text-decoration:none;
		}
	footer{
			position:relative;
			width:1000px;
			height:180px;
			top:450px;
			background-color:#e2e2e2;
			}
			.footer1{
			position:relative;
			top:4px;
			font-weight:bold;
			text-align:center;
			padding:10px;
			font-size:14px;
			}
			.link{
			width:190px;
			text-align:center;
			}
			.footer2{
			text-align:center;
			color:#8e8e8e;
			}
 </style>