#a1{font-size:12px;color:magenta;font-family:돋음;}
#a2{font-size:20px;font-weight:bold;font-family:궁서체;}
#a3{font-size:15px;font-style:italic;color:blue;}
#a4{font-weight:bold;color:limegreen;}
.b1{color:orange;font-size:2em;}